<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173868559313-6c0aed5a3uae24mkifl4fqbnbb6limgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173868559313-6c0aed5a3uae24mkifl4fqbnbb6limgq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>173868559313-aombg36ri2cjt317ha8q6p6frapleqjk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGpVia2tfacZNbeM3UCDuvbhVxnRjiRkI</string>
	<key>GCM_SENDER_ID</key>
	<string>173868559313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wonderwish</string>
	<key>PROJECT_ID</key>
	<string>wonder-wish</string>
	<key>STORAGE_BUCKET</key>
	<string>wonder-wish.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173868559313:ios:2a5f9ebc4fdc0ce1ebcef0</string>
	<key>DATABASE_URL</key>
	<string>https://wonder-wish.firebaseio.com</string>
</dict>
</plist>